<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>LoriaMusic</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="assets/css/flat-ui.min.css" rel="stylesheet">
    <link href="assets/css/icon-moon.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/libs/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css"
  <link rel="stylesheet" href="assets/css/ng-tags-input.min.css">

</head>
<body ng-app="PlayerApp">

  <div ng-class="{'hide' : !smallSearch }" class="fading-search"></div>


  


<!-- NavBar -->

<!-- <nav ng-show="connected" id="topbar" class="navbar navbar-default" role="navigation"> -->
<span ng-if="!isAdmin" ng-include src="'app/shared/layout/topbar.html'"></span>
<span ng-if="isAdmin" ng-include src="'app/shared/layout/admTopbar.html'"></span>
<div class="contain">
  	<!-- Left Menu -->
  <span ng-if="!isAdmin" ng-include src="'app/shared/layout/leftmenu.html'"></span>
  <span ng-if="isAdmin" ng-include src="'app/shared/layout/admLeftmenu.html'"></span>


  <div class="content" ng-class="{'col-lg-5 centre' : (connected && !isAdmin && !wideRadio), 'admincontent' : isAdmin, 'radiocontent' : wideRadio, 'col-lg-10 centre' : isAdmin || wideRadio}">
    <div ng-if="!playing || small" class="changing" ng-class="{reducedChanging : small && playing}" ng-view>
      <div style="clear:both"></div>
    </div>
  </div>
  <span ng-if="!isAdmin" ng-show="!$root.wideRadio" ng-include src="'app/shared/layout/rightsection.html'"></span>
  </div>



</div>
<span ng-include src="'app/shared/layout/player.html'"></span>
    </div> 
<!--   ############## LIB JS ################# -->
	<script src="assets/libs/angular.min.js"></script>
 <!--<script src="assets/libs/bower_components/angular/angular.js"></script>-->
	<script src="assets/libs/angular-route.min.js"></script>
	<script src="assets/libs/angular-resource.min.js"></script>

	<script src="assets/libs/angular-cookies.min.js"></script>
	<script src="assets/libs/angular-deckgrid.js"></script>
	<script src="assets/libs/ui-bootstrap-0.12.0.min.js"></script>
	<script src="assets/libs/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="assets/libs/ng-tags-input.min.js"></script>
	<script src="assets/libs/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="assets/libs/bower_components/videogular/videogular.js"></script>
  <script src="assets/libs/bower_components/ngDraggable/ngDraggable.js"></script>
  <script src="assets/libs/bower_components/videogular-youtube/youtube.js"></script>
	<script src="assets/libs/bower_components/videogular-controls/controls.js"></script>
	<script src="assets/libs/bower_components/videogular-overlay-play/overlay-play.js"></script>
	<script src="assets/libs/bower_components/videogular-poster/poster.js"></script>
	<script src="assets/libs/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

	<script src="assets/libs/bower_components/videogular-buffering/buffering.js"></script>
	<script src="assets/libs/bower_components/videogular-flash/flash.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/app.routes.js"></script>
	<script src="assets/libs/jquery-1.11.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/flat-ui.min.js"></script>
	<script src="assets/js/flatuiApp.js"></script>
	<script src="app/components/home/homeController.js"></script>
	<script src="app/components/home/homeService.js"></script>
	<script src="app/shared/form/formDirective.js"></script>
	<script src="app/shared/recommandations/recoDirective.js"></script>
	<script src="app/components/homeConnected/homeConnectedController.js"></script>
	<script src="app/components/sandbox/sandboxController.js"></script>
	<script src="app/components/preferences/preferencesController.js"></script>
	<script src="app/shared/clickLink/clickLinkDirective.js"></script>
	<script src="app/components/player/playerController.js"></script>
	<script src="app/shared/player/controlPlayerDirective.js"></script>
	<script src="app/shared/player/playlistPlayerDirective.js"></script>
	<script src="app/components/menu/menuController.js"></script>
	<script src="app/components/history/historyController.js"></script>
	<script src="app/components/menu/playlistController.js"></script>
	<script src="app/components/topbar/topbarController.js"></script>
  <script src="app/components/cover/genreCoverController.js"></script>
  <script src="app/components/cover/artisteCoverController.js"></script>
	<script src="app/shared/menuleft/showTagPlaylist.js"></script>
	<script src="app/shared/menuleft/editPlaylist.js"></script>
	<script src="app/shared/menuleft/editPlaylistName.js"></script>
  <script src="app/shared/menuleft/deletePlaylist.js"></script>
   <script src="app/shared/player/addToPlaylist.js"></script>
	<script src="app/shared/menuleft/newPlaylist.js"></script>
	<script src="app/components/radios/radiosController.js"></script>
  <script src="app/components/tops/topsController.js"></script>
  <script src="app/components/history/historyController.js"></script>
  <script src="app/components/search/searchController.js"></script>
  <script src="app/components/friends/friendsController.js"></script>
  <script src="app/components/artist/artistController.js"></script>
  <script src="app/components/playlists/playlistsController.js"></script>
  <script src="assets/libs/rhapsody.js"></script>
  <!--<script src="app/components/admin/adminController.js"></script>-->
  <script src="app/shared/recommandations/recoDirective.js"></script>
  <script src="app/components/admin/currentTestController.js"></script>
  <script src="app/components/admin/newTestController.js"></script>
  <script src="app/components/admin/algorithmsController.js"></script>
   <script src="app/components/recommandations/recomController.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.js"></script>





</body>
</html>
