<div id="artist">
	<div class="round back" click-link="/home"></div>
	
        <div class="artist-cover"><div class="assets"><img src="{{controller.artist.cover}}" height="150" width="150"/>
        <h1><span ng-bind="controller.artist.nom"></span></h1>

        <div class="rating artist-rating" ng-click="editScoreArtist()"><span tooltip="Average rating : {{controller.artist.score}}">
                <rating class="userRating" ng-if="controller.artist.userScore" ng-click="addRate()" ng-model="controller.artist.userScore" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <rating ng-if="!controller.artist.userScore" ng-click="addRate()" ng-model="controller.artist.score" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></span>

            </div>
        </div>
    </div>
       
    <ul id="albums">

    	<li ng-repeat="album in controller.artist.albums" class="li-album">
            <div class="album-cover" style="float:left; "><img src="assets/img/strangers.jpg" height="100" width="100"/></div>
    		<div class="album-infos">
    			<h4 class="album-title">{{album.titre}}</h4><i class="album-date">{{$root.toTimestamp(album.date)}}</i>
                
            </div>
            
             <div type="artist" class="playlist-player" playlist-player controller="controller" content="album.tracks" withPlayer="false" ng-class="{'col-sm-6 small':controller.config.small}">
</div>  

    
         
        </li>
             <p ng-show="error" class="alert">
                {{ error }}
            </p>
    </ul>
</div>




</div>
