<table id="table-artist">
    <tbody ng-init="hideTags=true" ng-repeat="ecoutes in content">
        <tr ng-class="{active : controller.currentVideo ==$index }" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
            <td ng-if="!withPlayer" ng-click="$root.typeEcoute = 0;$root.launchPlay(ecoutes);" class="index">
                <a href="#!">
                    <i class="icon-play2" ng-class="{hide : (controller.API.currentState != 'stop' && controller.API.currentState != 'pause') || controller.currentVideo !=$index }"></i>
                    <i class="icon-volume-medium" ng-class="{hide : controller.currentVideo!=$index || controller.API.currentState != 'play'}"></i>
                    <i class="icon-play2" ng-class="{hide : !hover || controller.currentVideo==$index}"></i>
                    <span ng-class="{hide: hover || controller.currentVideo==$index}">{{ $index+1 }}.</span>
                </a>
            </td>
            <td ng-if="withPlayer" ng-click="controller.setVideo($index)" class="index">
                <a href="#!">
                    <i class="icon-play2" ng-class="{hide : (controller.API.currentState != 'stop' && controller.API.currentState != 'pause') || controller.currentVideo !=$index }"></i>
                    <i class="icon-volume-medium" ng-class="{hide : controller.currentVideo!=$index || controller.API.currentState != 'play'}"></i>
                    <i class="icon-play2" ng-class="{hide : !hover || controller.currentVideo==$index}"></i>
                    <span ng-class="{hide: hover || controller.currentVideo==$index}">{{ $index+1 }}.</span>
                </a>
            </td>
            <td class="title">
                <a class="wrap">
                 <span tooltip="{{ecoutes.titre}}">{{ecoutes.titre}}</span>
                </a>
            </td>

            <td class="rating" ng-click="editRate(ecoutes)">

              <span ng-if="ecoutes.userRate" tooltip="Average rating : {{ecoutes.note}}
              Your rating : {{ecoutes.userRate}}">
                <rating class="userRating" ng-if="ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.userRate" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <rating ng-if="!ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.note" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
              </span>
              <span ng-if="!ecoutes.userRate" tooltip="Average rating : {{ecoutes.note}}">
                <rating class="userRating" ng-if="ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.userRate" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <rating ng-if="!ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.note" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
              </span>

            </td>
            <td class="action time">{{$root.convertTime(ecoutes.duree)}}</td>
            <td class="action" ng-class="{'hide': $root.small && withPlayer }">
                <div ng-if="controller.configPlaylist.addToPlaylist" class="addplaylist">

                    <a href ng-controller="ModalFormCtrl" class="modal-form-playlist" ng-click="open('sm', ecoutes)">
                        <i tooltip="Add to a playlist" class="icon-plus"></i>
                    </a>
                   
                </div>
                <a ng-if="controller.configPlaylist.remove" ng-click="removeItem($root.playlist.id,ecoutes.id,$index)" href="">
                    <i tooltip="remove from the playlist" class="icon-trash"></i>
                </a>
                <a ng-class="{ active: !hideTags }" ng-show="controller.configPlaylist.tags" class="icon-tag-list" href="" ng-click="hideTags = !hideTags; getItemTags(ecoutes)">
                    <i tooltip="Show tags" class="icon-tag"></i>
                </a>
                <a href="#!">
                    <i tooltip="more" class="icon-arrow-down4" ng-if="controller.configPlaylist.more"></i>
                </a>
            </td>
        </tr>
        <tr ng-class="{active : (controller.API.currentState == 'stop' && controller.API.currentState == 'pause') || controller.currentVideo ==$index }" class="title-tags" collapse="hideTags">
            <td align="center" colspan="5">
              <div class="well-sm playlist-tag">
                <span class="label label-default" ng-repeat="tag in ecoutes.tags">
                    <a ng-click="disagree()" href=""><i class="icon-minus"></i></a>{{tag.libelle}}<a ng-click="agree()" href=""><i class="icon-plus"></i></a>
                </span>
              </div>
            </td>
        </tr>
    </tbody>
</table>
