<div id="preferences">
	<h1>PREFERENCES</h1>
	<div class="round back" click-link="/home"></div>
	<form role="form" ng-submit="send()">
		<div class="form-group">
			<input type="email" ng-model="user.email" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
			<input class="form-control" ng-model="user.plainPassword" name="password" type="password" placeholder="Current password">
		</div>
		<div class="form-group">
			<input class="form-control" ng-model="user.newPassword" name="newpassword" type="password" placeholder="New password" />
		</div>
		<div class="form-group">
			<div class="select-container select-large">
				<select ng-init="user.pays = user.country" ng-model="user.pays" name="country">
					<option value="{{ user.country }}">{{user.country}}</option>
					<option ng-repeat="country in countries" value="{{country.name.common}}">{{country.name.common}}</option>
				</select>
			</div>
		</div>
		<p ng-show="error" class="alert alert-danger">
			{{ error }}
		</p>
		<p ng-show="success" class="alert alert-success">
			{{ success }}
		</p>
		<button type="submit" class="btn btn-default"><i class="icon-checkmark"></i>Submit</button>
		<button class="btn btn-default" href="#/home"><i class="icon-close"></i>Cancel</button>

	</form>
</div>
