<table>
	<tbody ng-init="hideTags=true; ecoutes=$root.playlist[0]">

		<tr>
			<td class="title">
				<i class="icon-volume-medium"></i>
				<a tooltip="{{ecoutes.titre}}"><span>{{ecoutes.titre}}</span></a>
			</td>

			<td class="rating" ng-click="editRate(ecoutes)">
				<span tooltip="Average rating : {{ecoutes.note}}
				Your rating : {{ecoutes.userRate}}">
				<rating class="userRating" ng-if="ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.userRate" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				<rating ng-if="!ecoutes.userRate" ng-click="addRate()" ng-model="ecoutes.note" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
			</span>

			</td>


			
		</tr>
		
		<tr><td class="album" ng-init="album = ecoutes.idalbum ? ecoutes.idalbum[0].titre : ecoutes.albumTitre"><i class="glyphicon glyphicon-headphones"></i>{{album}}</td><td class="action" ng-class="">
				<div ng-if="controller.configPlaylist.addToPlaylist" class="addplaylist">

					<a href ng-controller="ModalFormCtrl" class="modal-form-playlist" ng-click="open('sm', ecoutes)">
						<i tooltip="Add to a playlist" class="icon-plus"></i>
					</a>
					
				</div>
				<a ng-if="controller.configPlaylist.remove" ng-init="id_playlist = playlist ? playlist.id : $root.playlist.id" ng-click="removeItem(id_playlist,ecoutes.id,$index)" href="">

					<i tooltip="Remove from the playlist" class="icon-trash"></i>
				</a>
				<a ng-class="{ active: !hideTags }" ng-show="controller.configPlaylist.tags" class="icon-tag-list" href="" ng-click="hideTags = !hideTags; getItemTags(ecoutes)">
					<i tooltip="Show tags" class="icon-tag"></i>
				</a>
				<a href="">
					<i tooltip="More" class="icon-arrow-down4" ng-if="controller.configPlaylist.more"></i>
				</a>
			</td></tr>
			<tr ng-class="{active : (controller.API.currentState == 'stop' && controller.API.currentState == 'pause') || controller.currentVideo ==$index }" class="title-tags" collapse="hideTags">
			<td align="center" colspan="5">
              <div class="well-sm playlist-tag">
              	<span class="label label-default" ng-repeat="tag in ecoutes.tags">
              		<a ng-click="disagree(ecoutes.id, tag.id)" href=""><i class="icon-minus"></i></a><span tooltip="Average rating : {{tag.note}}">{{tag.libelle}}</span><a ng-click="agree(ecoutes.id, tag.id)" href=""><i class="icon-plus"></i></a>
              	</span>
              </div>
			</td>
		</tr>
		<tr ng-class="{hide : !hideTags}">
			<td ng-init="artiste = ecoutes.idartiste[0] ? ecoutes.idartiste[0].nom : ecoutes.nom ; id_artiste = ecoutes.idartiste[0] ? ecoutes.idartiste[0].id : ecoutes.idArtiste" class="artiste" >
				<i class="icon-microphone"></i>
				<a tooltip="{{artiste}}" ng-click="$root.stockArtist(artiste)" href="#/artist/{{id_artiste}}" >
					<span >{{artiste}}</span>
				</a>
			</td>
			
		</tr>

	</tbody>
</table>
