
<div class="smallPlaylist">
	<div ng-repeat="ecoutes in content" class="ecoute text-center">
		<div class="color text-center" style="background-color: {{ecoutes.color.code}}">{{ecoutes.color.name}}</div>
		<div ng-click="controller.setVideo($index)" class="index">
				<a href="">
					<i class="icon-play2 text-center" ng-class="{hide : (controller.API.currentState != 'stop' && controller.API.currentState != 'pause') || controller.currentVideo !=$index }"></i>
					<i class="icon-volume-medium text-center" ng-class="{hide : controller.currentVideo!=$index || controller.API.currentState != 'play'}"></i>
					<i class="icon-play2 text-center" ng-class="{hide : !hover || controller.currentVideo==$index}"></i>
					<span ng-class="{hide: hover || controller.currentVideo==$index}">{{ $index+1 }}.</span>
				</a>
				<div class="title">
				<span tooltip="{{ecoutes.titre}}"><p title="">{{ecoutes.titre}}</p></span>
			</div>
			</div>
			
			<div ng-init="artiste = ecoutes.idartiste[0] ? ecoutes.idartiste[0].nom : ecoutes.nom ; id_artiste = ecoutes.idartiste[0] ? ecoutes.idartiste[0].id : ecoutes.idArtiste" class="artiste text-center" >
				<i class="icon-microphone"></i>
				<a ng-click="$root.stockArtist(artiste)" href="#/artist/{{id_artiste}}">
					<span tooltip="{{artiste}}" class="text-center"><p>{{artiste}}</p>
					</span>
				</a>
			</div>
			<div class="playlist-cover text-center">
				<img src="{{ecoutes.urlCover}}"/>
			</div>
	</div>
</div>


