<div class="recommandations">
<div class = "title-reco">
    <h4>RADIO MODE</h4>
    <p>Pick a song from our recommandations or let it play automatically for you</p>
</div>

<div class="contain-current">
    <p>CURRENT SONG</p>
    <div class="current-song">
        
        <div ng-model="currentSong">
            <div class="smallPlaylist">

                <div class="color text-center" style="background-color: {{currentSong.color.code}}">{{currentSong.color.name}}
                </div>
                <div class="index">
                    <a href="">
                        <span class="title-span text-center" ng-class="{'active': (controller.currentVideo == $index)}" tooltip="{{currentSong.titre}}">{{currentSong.titre}}</span>
                    </a>
                </div>
                        
                <div ng-init="artiste = currentSong.idartiste[0].nom ; id_artiste =  currentSong.idartiste[0].id" class="artiste text-center" >
                    <a ng-click="$root.stockArtist(artiste)" href="#/artist/{{id_artiste}}">
                        <i class="icon-microphone"></i>
                        <span tooltip="{{artiste}}" class="text-center">{{artiste}}</span>
                    </a>
                </div>
                <div class="playlist-cover text-center">
                    <img src="{{currentSong.urlCover}}"/>
                </div>
                    
                    <div style="clear:both"></div>
            </div>
        </div>

    </div>
    <img class="arrow-right" src="assets/img/ArrowRec.png"></img>
</div>


<div class="reco-songs">
    <p>RECOMMANDATIONS</p>
    <div ng-repeat="algo in listAlgos">
        
        <div class="reco-song" ng-class="{selected : algo.selected}" >
            <div class="next-song" ng-show="algo.selected"><p style="background-color: {{algo.track.color.code}}">NEXT</p></div>
            <div class="overlay">
            <a class="choose-caption" ng-click="sortAlgorithms(algo.nom)">PLAY THIS SONG NEXT</a></div>
            <div class="smallPlaylist">

                <div class="color text-center" style="background-color: {{algo.track.color.code}}">{{algo.track.color.name}}
                </div>
                <div class="index">
                    <a href="">
                        <span class="title-span text-center" ng-class="{'active': (controller.currentVideo == $index)}" tooltip="{{algo.track.titre}}">{{algo.track.titre}}</span>
                    </a>
                </div>
                        
                <div ng-init="artiste = algo.track.idartiste[0].nom ; id_artiste =  algo.track.idartiste[0].id" class="artiste text-center" >
                    <a ng-click="$root.stockArtist(artiste)" href="#/artist/{{id_artiste}}">
                        <i class="icon-microphone"></i>
                        <span tooltip="{{artiste}}" class="text-center">{{algo.track.idartiste[0].nom}}</span>
                    </a>
                </div>
                <!--<div class="playlist-cover text-center">
                    <img src="{{algo.track.urlCover}}"/>
                </div>-->
                    
                    <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>

</div>
