<h1>My listening</h1>
<div class="round back" click-link="/home"></div>
<ul id="myhistory">
	<li ng-repeat="session in controller.sessions">
		<div class="session-date">
			<i class="icon-calendar3"></i>{{session.dateDisplay}}	
		</div>
		<div class="session-duration">
			<i class="icon-stopwatch"></i>{{session.duration}}
		</div>
		<a ng-init="isCollapsed = (session.duration == 'Ongoing') ? false : true" ng-click="isCollapsed = !isCollapsed; getEcoutesBySession(session.id);" href="" class="pull-right detail-histo">Details<i class="icon-arrow-down4"></i></a>
		<div class="track-list" collapse="isCollapsed">
			<div class="playlist-tags">
              <div class="well-lg playlist-tag">
                
                <tags-input class="tags-playlist" ng-model="session.tags" ng-pattern="tagsPattern" display-property="libelle" 
                on-tag-added="addTagSession(session)" on-tag-removed="deleteTagSession(session,$tag)"></tags-input>
              

              </div> 
            </div>
			<div ng-if="session.ecoutes" class="playlist-player" playlist-player controller="controller" type="playlist" content="session.ecoutes" withPlayer="false" ng-class="{'col-sm-6 small':controller.config.small}">
		</div>
	</li>
</ul>



	<!-- <div class="playlist-player" playlist-player ng-class="{'col-sm-6 small':controller.config.small}">
		
	</div> -->	
