/*###################### BOOTSTRAP UI #######################*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }






/*############################ DEBUT  NAVBAR ####################################*/


.navbar-default{
	background-color : #374051;
}

.padding-i{
	margin-right: 8px;
	
}

.navbar-form .input-group.input-search-bar{
  width: 100%;
}

.navbar-default .navbar-nav > li > a.pseudo-navbar{
	color : #FFFFFF;
	font-size: 15px;


}


#topbar .navbar{
	margin-bottom: 0px;
}

#topbar .btn-group{
  width: 100%;
  padding-top: 15px;
}

#topbar .container-fluid{
  padding-left: 0px;
}

#topbar .col-sm-2{
  padding-left: 0px;
  padding-right: 0px;
}

#topbar .col-sm-5{
  padding-left: 0px;
  padding-right: 0px;
}

#topbar.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
}

/* ########################## PSEUDO DE LA NAVBAR ##############################*/



#topbar .ul-pseudo{
  display : block;
  width : 100%;
}

#topbar .pseudo-navbar.a-pseudo{
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding-top: 0px;

 
}

#topbar .icon-arrow-down4{
  display : inline-block;
  position : absolute;
  right: 10px;

}

#topbar .dropdown-menu, .select2-drop {
    background-color: #374051;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #FFF;
    font-size: 14px;
    margin-top: 0px;
    min-width: 240px;
    padding: 0;
    z-index: 1000;
}

#topbar .dropdown-menu > li > a {
    color: #fff;
    line-height: 1.429;
    padding: 6px 10px;
}

/* ################################ SEARCH BAR ########################### */


#topbar .navbar-form{
  padding: 15px 0px;
}

#topbar .input-search-bar-button{
  width: 10px;
}

#topbar .input-group-btn .btn-default{
  background-color: #FFFFFF;
}

#topbar .form-control.input-search{
  height: 41px;
}

#topbar .btn.btn-default.input-search{
  height: 41px;
  color: #374051;
}



/* ################################# BOUTONS #############################*/
#topbar .btn-pseudo{
  display : block;
  width : 100%;
  background-color : #374051;
  padding-left: 10px;
  padding-bottom: 6px;
  text-align: left;
  position : relative;
  font-size: 18px;
  font-weight: normal;
  color : #FFF;

}

#topbar .btn-pseudo:hover{
  background-color : #5A6985;
}

#topbar .dropdown-font{
  color : #FFF;
  padding-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

#topbar .icon-menu-left{
  padding-right: 15px;
}

#topbar .dropdown-menu > li{
  
  padding-bottom: 8px;
}

#topbar .dropdown-menu > li > a:hover {
  background: #64718C;
}


/*############################### FIN NAVBAR ################################*/



/*######################### LEFT MENU #############################*/

#menu-left.col-sm-2.menu-left{
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;

}

#menu-left .navbar{
  border-radius: 0px;
  height: 750px;
}

#menu-left .navbar-default{
  background-color: #64718C;
}

#menu-left .navbar-default .navbar-nav > li > a{
  color : #FFF;
  padding-left: 10px;
  font-weight: normal;
  font-size: 18px;
} 

#menu-left .navbar-default .navbar-nav  > li > a .bold-text{
  color : #FFF;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}

#menu-left .navbar-default .navbar-nav > li:hover{
  background-color : #374051;
 
} 

#menu-left .navbar-default .navbar-nav > li > a:focus{
  background-color : #374051;
 
} 


#menu-left .icon-menu-left{
  padding-right: 15px;
}

#menu-left .ul-Playlist{
  padding-left: 0px;
}

#menu-left .titrePlaylist{

  font-size: 20px;
  color : #FFF;
  padding-left: 10px;
  padding-bottom: 0px;
}

#menu-left .iconPlaylist{
  color: #FFF;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

#menu-left .playlist{
  padding-bottom: 8px;
  padding-top: 8px;
}

#menu-left .playlist > div {
  margin-bottom: 0px;
}

#menu-left .playlist-content > a{
  font-size: 18px;
  color : #FFF;
  padding-left: 10px;
  padding-bottom: 0px;

}


#menu-left .playlist-content{
  display: inline-block;
}

#menu-left .playlist:hover{
  background-color: #374051;
}

#menu-left .playlist:hover .playlist-icons{
  display: inline-block;
}

#menu-left .playlist-icons{
  width: 100px;
  float: right;
  display: none;

}


#menu-left .playlist-tag{

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  background-color: #374051;
  border: none;
  color: #FFFFFF;

}

#menu-left div.tags{

  background-color: #374051;
  border: none;
  box-shadow: none;

}

#menu-left .tag-item{

  background: #FFF;
  color: #374051;
  border: none;
}

#menu-left .input.ng-valid{
  color: #374051;
  border-radius: 3px;
    display: inline-block;
    float: left;
    font: 14px/25px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 26px;
    margin: 2px;
    padding: 0 5px;
    width: 80px;
   
}

#menu-left span.input{
  padding-left: 10px;
}

#menu-left .playlist:focus{
background: #FFF;
padding-top: 0px;
padding-bottom: 0px;

}











/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

