/*###################### BOOTSTRAP UI #######################*/


body, .form-control {

    font-family: 'Dosis', sans-serif;
}

html, body{
  height:100%;
}

h1{
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 2.1em;
}
h3{
  font-size: 1.17em;
  margin-top: 15px;
}
button { text-transform: uppercase;}
.content{ position: relative; padding: 0; }
.content .container{ position: relative; }
.changing { height: 100%; overflow: auto;}


/*############################ DEBUT  NAVBAR ####################################*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.navbar-form .input-group.input-search-bar{
  width: 100%;
}


.navbar-default .navbar-nav > li > a.pseudo-navbar{
	color : #FFFFFF;
	font-size: 15px;


}


#topbar .navbar{
	margin-bottom: 0px;
}

#topbar .btn-group{
  width: 100%;
  padding-top: 15px;
}

#topbar .container-fluid{
  padding-left: 0px;
}

#topbar .col-sm-2{
  padding-left: 0px;
  padding-right: 0px;
}

#topbar .col-sm-5{
  padding-left: 0px;
  padding-right: 0px;
}

#topbar.navbar{
  background: #374051;
  margin-bottom: 0px;
  border-radius: 0px;
}

/* ########################## PSEUDO DE LA NAVBAR ##############################*/



#topbar .ul-pseudo{
  display : block;
  width : 100%;
}

#topbar .pseudo-navbar.a-pseudo{
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding-top: 0px;


}

#topbar .icon-arrow-down4{
  display : inline-block;
  position : absolute;
  right: 10px;

}

#topbar .dropdown-menu, .select2-drop {
    background-color: #374051;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    margin-left: 4px;
    margin-top: 17px;
    min-width: 230px;
    padding: 0;
    z-index: 1000;
}

#topbar .dropdown-menu > li > a {
    color: #fff;
    line-height: 1.429;
    padding: 6px 10px;
}

/* ################################ SEARCH BAR ########################### */


#topbar .navbar-form{
  padding: 15px 0px;
}

#topbar .input-search-bar-button{
  width: 10px;
}

#topbar .input-group-btn .btn-default{
  background-color: #FFFFFF;
}

#topbar .form-control.input-search{
  height: 41px;
  background: #fff;
  color: #374051;
}
#topbar .form-control.input-search:focus, #topbar .input-search-bar.focus button{ border:0px solid #5a6985; color: #374051; }

#topbar .btn.btn-default.input-search{
  height: 41px;
  color: #374051;
}

.artist-results .thumbnail{
  height:160px;
  width:160px;
}

.artist-results .overlay{
  height:160px;
  width:160px;
  margin-left:0;
}

.artist-results .ng-scope{
  height:160px;
  width:160px;
  background-color:transparent;
  overflow:hidden;
  margin-left:0px;
}

.artist-results .column{
  padding-left:15px;
}

.artist-results img{
  width:100%;

}

.artist-columns{
  width:200px;
}

.go-page{
  height:100%;
}

/* ################################# BOUTONS #############################*/
#topbar .btn-pseudo{
  background-color: #374051;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-left: 5px;
  padding-bottom: 6px;
  position: relative;
  text-align: left;
  width: 100%;

}

#topbar .btn-pseudo:hover{
  background-color : #5A6985;
}

#topbar .dropdown-font{
  color : #FFF;
  padding-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

#topbar .icon-menu-left{
  padding-right: 15px;
}

#topbar .dropdown-menu > li{

  padding-bottom: 8px;
}

#topbar .dropdown-menu > li > a:hover {
  color: #0079a6;
  background: inherit;
}


/*############################### FIN NAVBAR ################################*/



/*######################### LEFT MENU #############################*/



#menu-left.col-lg-2.menu-left{
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;

}

#menu-left .navbar{
  border-radius: 0px;
}

#menu-left, #menu-left .navbar-default {
  background-color: #64718C;
  height: 100%;
}


#menu-left .navbar-default .navbar-nav > li > a{
  color : #FFF;
  padding-left: 10px;
  font-weight: normal;
  font-size: 18px;
}

#menu-left .navbar-default .navbar-nav  > li > a .bold-text{
  color : #FFF;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}

#menu-left .navbar-default .navbar-nav > li:hover{
  background-color : #374051;

}

#menu-left .navbar-default .navbar-nav > li > a:focus{
  background-color : #374051;

}


#menu-left .icon-menu-left{
  padding-right: 15px;
}

#menu-left .li-repeat-playlist .icon-menu-left{
  padding-right : 2px;
}

#menu-left .ul-menuleft{
  padding-left: 0px;
}

#menu-left .titre-menuleft{

  font-size: 20px;
  color : #FFF;
  padding-left: 10px;
  padding-bottom: 0px;
}


#menu-left .input-new-playlist{
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: none;
    color: #FFF;
    background-color: transparent;
    font-size: 16px;
    height: 40px;
    line-height: 1.467;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    width: 200px;
    margin : 0 9px;
}


#menu-left .iconPlaylist{
  color: #FFF;
  float: right;
  padding-right: 10px;
}

#menu-left .li-repeat-playlist{
  padding-bottom: 8px;
  padding-top: 8px;
}

#menu-left .li-repeat-playlist > div {
  margin-bottom: 0px;
}

#menu-left .playlist-content .ellipsis > a, #menu-left .playlist-content > a{
  font-size: 18px;
  color : #FFF;
  padding-left: 10px;
  padding-bottom: 0px;

}

#menu-left .playlist-content .ellipsis.active{
  overflow: hidden;
}
#menu-left .playlist-content .ellipsis{
  max-width: 65px;
  text-overflow :ellipsis;
  white-space: nowrap;
  display: inline-block;
  float: left;
}
#menu-left .playlist-content .play-icon{
  display: inline-block;
  float: left;
  margin-top: 3px;
}


#menu-left .playlist-content{
  display: inline-block;

}


#menu-left .playlist:hover{
  background-color: #374051;
}

#menu-left .playlist:hover .playlist-icons{
  display: inline-block;

}

#menu-left .playlist-icons{
  width: 143px;
  float: right;
}



#menu-left .playlist-hover{

  display: none;

}


#menu-left .playlist-tag{

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  background-color: #374051;
  border: none;
  color: #FFFFFF;

}

#menu-left div.tags{

  background-color: #374051;
  border: none;
  box-shadow: none;

}

#menu-left .tag-item{

  background: #FFF;
  color: #374051;
  border: none;
}

#menu-left .input.ng-valid{
  color: #374051;
  border-radius: 3px;
    display: inline-block;
    float: left;
    font: 14px/25px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 28px;
    margin: 2px;
    padding: 0 5px;
    width: 80px;

}

#menu-left span.input{
  padding-left: 10px;
}

#menu-left .test:focus{
background: #888888;
padding-top: 0px;
padding-bottom: 0px;

}

/* Remove shadow on tag list */
#menu-left .well{
  box-shadow: none;
}


#menu-left .input-edit-playlist-name{
  background-color: transparent;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 1.467;
  margin-left: 7px;
  width: 120px;

}



/*##################### HISTORY #####################*/



#menu-left .li-repeat-track{
  padding-bottom: 8px;
  padding-top: 8px;
}

#menu-left .li-repeat-track > div {
  margin-bottom: 0px;
}

#menu-left .one-track > a{
  font-size: 18px;
  color : #FFF;
  padding-left: 10px;
  padding-bottom: 0px;

}

#menu-left .track:hover{
  background-color: #374051;
}



/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    transition: all 0.5s ease 0s;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav .navbar li a.add-playlist-icon { padding: 0; float: right; display: inline-block;}

.navbar-default .navbar-nav > li > a.pseudo-navbar:hover {
	text-decoration : underline;
}



/*  BUTTONS */
.btn-primary, .btn-default { background: #5a6985; line-height: 0; font-weight: bold; padding: 11px 12px 14px; border-radius: 3px; }
.btn-primary:hover, .btn-default:hover { background: #6f81a3; }
.btn-search-friend{ width: 1%}
.btn-trash{padding-left:50px}

/*  ICON  */
[class^="icon-"], [class*=" icon-"] { margin-right: 3px; }
.padding-i{	margin-right: 8px; }


/*  TOPBAR SIGNUP  */
#topBarSignUp.navbar { background: #2a303d; border-radius: 0px; padding: 15px 0; }
#topBarSignUp button[type=submit]{ position: absolute; margin-left: 10px; }
#topBarSignUp .form-group{ width:41%; margin-right: 10px;}
#topBarSignUp input{ width:100%; }
#topBarSignUp .form-group:nth-child(2){ margin-right: 0;}
#topBarSignUp.navbar{ margin-bottom: 0px; }
#topBarSignUp .alert { padding: 3px 10px; margin:0; }


/*  SIGNUP  */
body{
	background: #374051;
	color :#fff;
}
.container.signup {
	text-align: justify;
}
#formSignup .col-sm-4{	padding-right: 15px; padding-left: 0px; }
#formSignup .col-sm-4:last-child{	padding-right: 0; }
#formSignup .radio-inline { line-height: 1.3; }
#formSignup .alert-danger { margin : 20px 0 0; font-size:0.938em; padding:5px 15px; }
#formSignup .alert-danger.alert-signup { margin-bottom: 10px; }



/*  INPUT  */
.form-control
{
	border-radius: 3px;
	border: 1px solid #fff;
	height: 40px;
	background: none;
	margin-right: 10px;
	color:#fff;
}
.form-group.focus .form-control,
.form-control:focus,
.form-group.focus .select2-search input[type="text"],
.select2-search input[type="text"]:focus {
	border-color: #5a6985;
}
.select-container{
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	background: #374051 url("../img/arrowdown.gif") no-repeat 90% 50%;
	overflow: hidden;
}
.select-container.select-large{
	background: #374051 url("../img/arrowdown.gif") no-repeat 97% 50%;
}
select{
	padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color:#374051;
    background-image: none;
    -webkit-appearance: none;
   	-moz-appearance: meterchunk;
    appearance: none;
}
textarea{
	background: none;
	border:1px solid #fff;
	font-size: 15px;
}

/* FORM */
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

/* FRIENDS */

#friends a{
  color:#374051;
}


#friends button{
  background-color: #374051;
  border:2px solid #374051;

}

#friends ul li a:hover{
  color: #0079a6;
}

#friends ul{
  list-style-type:none;
}

#friends li a{
  font-size: 19px;
}

.friends-name{
  padding-bottom:20px;
}

#myfriends{
  margin-top:40px;
  padding-left: 0;
}

#myfriends h6{
  padding-left: 40px;
}

.friend-username{
  background-color: #e1e4e6;
}

.friend-user-name .icon-tag{
  padding-left:80%;
}
.friend-user-name .tooltip{
  padding-left:68%;
}

.friend-user-name .tooltip .tooltip-arrow{
  margin-left:40%;
}

.fr-Liked{
  padding-left: 60px;
}

.friend-username .friend-user-name{
  padding-left:20px;
}

/* ARTIST */
.li-album{
  list-style-type:none;
  padding-left:20px;
}

#albums{
  padding-left: 0;
  clear:both;
}

.album-listen, .album-rating{
  display:inline-block;
}

.album-listen{
  padding-left:20px;
}


#artist h1{
  float:left;
  margin-bottom:0px;
  padding-bottom:10px;
  padding-left:0px;
  margin-top:0;
  min-width:300px;

}

#artist .artist-score{
  margin-left:10px;
}

#artist .artist-rating{
  float:left;
  padding-left:10px;

}

.album-result{
  width:165px;
}

.artist-search-result{
  height:165px;
  overflow:hidden;
}

.artist-search img, .artist-search-result img{
  max-width:200px;
}

.artist-search > .column{
  width:160px;
}
.artist-search .ng-scope{
  width:165px;
}

.user-rating{
  padding-left: 24px;
}

.artist-rating .userRate{
  color:#0079a6;
}

.album-infos{
  margin-left:10px;
  margin-bottom: 10px;
  float:left;
}

#table-artist{
  width: 97%;

}

.album-cover{
  float:left;
  margin-top:15px;
}
.album-title{
  margin-bottom:5px;
}
.album-date{
  font-size: 14px;
  margin-bottom:10px;
}

.artist-cover{
  padding-left: 20px;
  background-color: #e1e4e6;
  height: 200px;
  padding-bottom: 20px;
}

.artist-cover .assets{
  padding-top:25px;

}

.artist-cover .assets .image{
  width:160px;
  height:150px;
  overflow:hidden;
  float:left;
  margin-right:20px;

}

.artist-cover img{
  float:left;
  min-width:160px;
  min-height:173px;
  max-width:200px;
}

#artist h2{
  clear:both;
  padding-left: 20px;
  padding-bottom: 20px;
}


/* PLAYLISTS */

.playlist-date, .playlist-name, .playlist-listen{
  display: inline-block;
}

.playlist-name{
  padding-left:10px;
}

.playlist-listen{
  padding-left:10px;
}

.playlist-listen a, .album-listen a{
  color:#374051;
}

.playlist-listen a:hover, .album-listen a:hover{
  color:#0079a6;
}

/*  PREFERENCES  */
.round.back{
    font-size: 1.9em;
    position: absolute;
    right: 30px;
    top: 10px;
}

.title .tooltip{
  z-index :1000000;
}

.active .tooltip{
  z-index :1000000;
}
.round.back a{ color: #374051; }
.round .tooltip{z-index: 1000000;}
.centre, .centre select, .centre input { background: #d9dcde; color:#374051; }
.centre select, .centre input { border: 1px solid #374051; }
.centre .select-container.select-large, .centre .select-container{ background : url("../img/arrowdown-dark.gif") no-repeat scroll 97% 50% #d9dcde; border-color: #374051; }
#preferences { padding: 20px; }

/*  ACCUEIL  */
.droit{ background: #9a929f; color: #374051; }
.centre { box-shadow: 7px 6px 26px -2px rgba(0, 0, 0, 0.7); z-index: 10; padding: 0;}
.droit, .centre { height: 100%;}
.centre h1, .droit h1{ padding: 20px; margin-bottom: 10px; }
.deckgrid .ng-scope{
    position: relative;
    margin:0 5px 10px 0px;
}
.deckgrid.ng-isolate-scope{ padding: 10px 10px 10px 10px; }
.deckgrid .ng-scope .caption{
	margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 21;
    top:27%;
    transition: all 0.5s ease 0s;
    width: 100%;

}
.deckgrid .ng-scope .thumbnail {  padding: 0; border: 0; color: #fff;}
.deckgrid .ng-scope:hover .play { opacity: 1; top:33%; }
.deckgrid .ng-scope .play { opacity: 0; transition: all 0.5s ease 0s; position: absolute; top:0; z-index: 22; left:41%; font-size: 1.7em; color: #fff; }
.deckgrid .ng-scope:hover > .overlay{ opacity: 1; }
.deckgrid .ng-scope:hover .caption{ opacity: 0; }
.deckgrid .ng-scope > .overlay{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: block;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease 0s;
    z-index: 20;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    right: 0;
    margin:0 5px 0 0;
    top: 0;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 33.3%;

}

/*  PLAYER  */
videogular vg-poster-image{ display: block !important; }
videogular vg-timedisplay{ display: none; }
.centre videogular vg-play-pause-button .play:before{ content: ""; font-family: "icomoon"; }
.centre videogular vg-play-pause-button .pause:before{ content: ""; font-family: "icomoon"; }
.videogular-container videogular .iconButton { font-size: 1.2em;  }
.button-control {
	cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.centre videogular vg-scrubbar, .centre videogular vg-scrubBarCurrentTime {
	display: block;
    height: 10px;
    position: absolute;
    top: calc(100% - 10px);
    width: 100%;
    z-index: 3;
}
.centre .small videogular vg-scrubbar, .centre .small videogular vg-scrubBarCurrentTime { top: calc(100% - 5px); height: 5px; }
.videogular-container videogular vg-scrubBarCurrentTime{ background-color: #0079a6; }
#controlsBar #controls-container { background: none;}
.maincontrol { width : 139px; margin: 0 auto;}
#controlsBar { background-color: rgba(0,0,0,0.7); }
.videogular-container .iconButton { transition: all 0.5s ease 0s;}
.videogular-container .iconButton:hover { color: #0079a6; }
.videogular-container .active{ color: #0079a6; }
.videogular-container videogular vg-mutebutton .level3:before{ font-family: "icomoon"; content:""; }
.videogular-container videogular vg-mutebutton .level1:before{ font-family: "icomoon"; content:""; }
.videogular-container videogular vg-mutebutton .level2:before{ font-family: "icomoon"; content:""; }
.videogular-container videogular vg-mutebutton .level0:before{ font-family: "icomoon"; content:""; }
.videogular-container videogular vg-mutebutton .mute:before{ font-family: "icomoon"; content:""; }
.videogular-container videogular vg-overlay-play .play:before { font-family: "icomoon"; content:"" }
.addplaylist { display: inline-block; position: relative;}
.small.videogular-container,.small.playlist-player{ padding: 0; height: 160px;}
.small.playlist-player{overflow:scroll};
.playlist-player td{ padding:5px 0; }
.playlist-player tr{ height: 55px; }
.small.playlist-player tr{ height: 35px; }
.small.playlist-player{ font-size: 73%; background: #fff; }
.small videogular vg-controls {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 3em;
    height: 30px;
    left: 12%;
    top: 25%;
}
.player-reduced.reduced {
    width: 100%;
    position: absolute;
}



.playlist-player tr.active,
.playlist-player tr:nth-child(2n).active,
.playlist-player tr:nth-child(3n).active,
.playlist-player tr:first-child.active{ background: #fff; }
.playlist-player tbody:nth-child(2n){ background: #d9dcde; }
.playlist-player tbody:nth-child(3n),.playlist-player tbody:first-child{ background: #e1e4e6; }
.droit .playlist-player tbody:nth-child(3n),.droit .playlist-player tbody:first-child{ background: #b4abba; border-bottom: 2px solid #9a929f; }
.droit .playlist-player tbody:nth-child(2n){ background: #b4abba; border-bottom: 2px solid #9a929f; }
.droit .playlist-player tbody{ background: #b4abba; border-bottom: 2px solid #9a929f; }
.playlist-player li{ list-style: none; }
.playlist-player table { width : 100%; }
.playlist-player td { width : 25%; }
.playlist-player td.index,.playlist-player td.title{ padding-left: 5px; }
.playlist-player td.rating, .playlist-player td.action{ text-align: center }
.playlist-player td.action .tags{ display: inline-block; }
.playlist-player td.artiste{ padding-left: 10px; }
.playlist-player td.index { width : 5%; transition: all 0.5s ease 0s; text-align: right; }
.playlist-player td.index a{ display: inline-block; width:18px; transition: all 0.5s ease 0s; color:#374051; }
.playlist-player td.index a:hover{ color:#0079a6; }
.playlist-player td.title { width : 33%; }
.playlist-player td.rating { width : 20%; }
.playlist-player td.rating .userRating, .artist-rating .userRating, .album-rating .userRating{color:#0079a6; }
.playlist-player td a { color:#374051; }
.playlist-player td a:hover { color:#0079a6; }
.addplaylist .addtoplaylist{
    border: 1px solid #000;
    left: -115px;
    position: absolute;
    z-index: 10;
    top : 45px;
    font-size: 70%;
    width:192px;
}
.addplaylist .addtoplaylist:after,
.addplaylist .addtoplaylist:before{
	bottom: 100%;
	left: 64%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.addplaylist .addtoplaylist:after { border-color: rgba(136, 183, 213, 0); border-bottom-color: #f5f5f5; border-width: 15px; margin-left: -15px; }
.addplaylist .addtoplaylist:before { border-color: rgba(61, 70, 77, 0); border-bottom-color: #000; border-width: 16px; margin-left: -16px; }
.playlist-player td.action > i{
    margin: 0;
    text-align: center;
}

.addplaylist .select-container, .addplaylist input {
	background-color: transparent;
	margin-bottom: 10px;
	font-size: 1.063em;
}
.addplaylist input { padding: 4px 10px; }
.addplaylist button{ width: 100%; }
.playlist-player .playlist-tag{ padding: 0 25px; }


/****** MY HISTORY ***********/
#myhistory{
  list-style: none;
  padding-left: 0;
}
.session-date,.session-duration{ display: inline-block; }
.session-duration{ margin-left: 30px; }
.detail-histo:hover, .detail-histo, .detail-histo:focus{ color: #000; margin-right: 10px; }
{ color: #000; }
#myhistory > li{ background: #b9bbbd; margin-bottom: 1px; padding : 10px 20px;}
#myhistory .track-list{ margin: 10px -20px -10px; }
#myhistory .playlist-tags{ background: #d9dcde; }
#myhistory tags-input .tags,
.playlist-tag tags-input .tags,
#myhistory tags-input .tags.focused,
.playlist-tag tags-input .tags.focused{ background: none; border:none; box-shadow: none;}
#myhistory tags-input .tags .tag-item, .playlist-tag tags-input .tags .tag-item{ background: #374051; color:#fff; height: 28px; padding:0 10px; border-radius: 4px; border:none; }
#myhistory tags-input .tags .tag-item .remove-button, .playlist-tag tags-input .tags .tag-item .remove-button{ color: #fff; }
.ul-menuleft .playlist-tag tags-input .tags .tag-item .remove-button{ color :#374051;}


/******** TAG *********/
.playlist-tag .label{ float: left; margin: 10px 4px; background: #374051; padding: 6px; }
.playlist-tag .label a{ color: #fff; font-size: 0.7em; }
.playlist-tag .label a:first-child{ margin-right: 4px; }
.playlist-tag .label a:last-child{ margin-left: 4px; }
.icon-tag-list.active{ color:#0079a6; }

.column .overlay img{
  width:163px;
  height:127px;

}

.artists-library .column .ng-scope{

  height:127px;
  overflow:hidden;
  border-radius:3px;

}

.musical-library .column .ng-scope{

  height:127px;
  overflow:hidden;
}

h4{
  font-size:27px;
}
.thumbnail img{

  min-height:165px;
  width:100%;
}

.artist-search .thumbnail img{
  min-width:165px;
}

.radio-title{
  background-color:#e1e4e6;
  padding-left:45%;
}

.playlist-player td.time{
  padding-left:30px;
  width:10%;
}

.deckgrid:first-child{
  margin-left:1.5%;
}

.col-lg-5{
  overflow:auto;
}


@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }

    .deckgrid .column-1-1 {
        width: 100%;
    }
}
