<div ng-if="$root.isAdmin" class="admin">

<div ng-if="currentTest" class="algorithms">
	
	<div>
		<h4>Current Test</h4>
		<div class="test-current">
			<div class="test-groups"><b>Label: </b> {{currentTest.label}}</div>
			<br>
			<div class="test-groups"><b>Date : </b> {{currentTest.datedebut}}</div>
			<br>
			<div class="test-groups"><b>Mode : </b> {{currentTest.mode}}</div>
			<br>
			<div class="test-groups"><b>Number of groups : </b> {{currentTest.groups}}</div>
			<br>
			<div ng-repeat="group in currentTest.idgroup" class="algos-group">
				Group {{group.numero}} algorithms :

					<li ng-repeat="algo in group.idalgorithm">
						{{algo.nom}}
					</li>
				</ul>
			</div>
			</div>
		</div>
		<button ng-click="endTest(currentTest.id)">End test</button>
	</div>


</div>
<div ng-if="!currentTest" class="algorithms">
	No test currently running.
</div>


</div>




