<div id="topBarSignUp" class="navbar navbar-default">
	<div class="container">
		<div class="col-lg-6">
			  <p class="alert alert-danger" ng-show="errorSignIn">{{ errorSignIn }}</p>
		</div>
		<div class="col-lg-6">
			<form ng-submit="connectUser()" class="form-inline" role="form">
			  <div class="form-group">
			      <label class="sr-only" for="exampleInputEmail2">Username</label>
			      <input type="text" class="form-control" ng-model="userConn._username" name="_username" id="exampleInputEmail2" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Password</label>
			    <input type="password" ng-model="userConn._password" class="form-control" name="_password" id="exampleInputPassword2" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-default"><i class="icon-switch"></i>SIGN IN</button>
			</form>
		</div>
	</div>
</div>
<div class="container signup">
	<div class="col-lg-6">

		<h1>Bienvenue sur LoriaMusic</h1>

		<h3>Qu’est-ce que LoriaMusic ?</h3>
		<p>
			LoriaMusic est une plateforme d’écoute de musiques développée par des chercheurs de l’équipe <strong>KIWI</strong> (<a class="home-link" href="http://kiwi.loria.fr" target="_blank">http://kiwi.loria.fr</a>) du Laboratoire Lorrain de Recherche en informatique et ses applications, le <strong>LORIA</strong> (<a class="home-link" href="http://www.loria.fr" target="_blank">http://www.loria.fr</a>). Au travers de ce service, nous chercherons à améliorer votre expérience d’écoute en vos proposant des musiques adaptées à vos besoins.
		</p>

		<h3>A qui cela s'adresse-t-il ?</h3>
		<p>
			Pour tout le monde et en plus, c’est gratuit :-). N’hésitez pas à en parler autour de vous.
		</p>

		<div class="text-center" style="font-size:1.4em">
			<div class="home-link" data-toggle="modal" data-target="#infos-modal" data-keyboard="true">Plus d'informations</div>
		</div>

		<div id="infos-modal" class="modal fade" tabindex="-1">
		    <div class="modal-dialog" style="color:rgba(0,0,0,0.8)">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:1.5em">&times;</span></button>
		                <h4 class="modal-title">Plus d'informations</h4>
		            </div>

		            <div class="modal-body">
                		<h3>Que dois-je faire ?</h3>

						<p>
							Ecoutez tout simplement. Cependant, afin de vous fournir la meilleure expérience possible, nous vous encourageons vivement à interagir avec notre système. Plus vous utiliserez nos services en nous donnant des retours sur ce que nous vous proposerons comme musique, plus nous serons en mesure de nous adapter efficacement et rapidement à votre profil. Les interactions sont simples et très peu chronophages : 
						</p>

						<ul>
							<li>une musique vous plait ? Likez-la</li>
							<li>Plus jamais cette musique? Bloquez-la ...</li>
							<li>Taguez vos playlists (ex : soirée, triste, motivation ...)</li>
						</ul>

						<h3>Le fonctionnement de LoriaMusic</h3>

						<p>
							En se basant sur vos préférences musicales et sur l’activité de la communauté des utilisateurs, nous enrichissons notre compréhension de vos besoins. Nous ne pouvons vous donner davantage de détails pour le moment. Cependant, si vous le désirez, nous pourrons vous tenir au courant des résultats que nous aurons obtenus. 
						</p>

						<h3>Et vos données personnelles ?</h3>

						<p>
							Nous ne récupérerons aucune information personnelle sur vous, hormis que les données nécessaires à votre inscription (mail, âge et sexe) qui ne seront utilisées qu’à des fins de recherche. Nous ne retenons aucune donnée relative à votre périphérique de connexion (adresse ip, localisation,…). C’est justement parce que nous nous efforçons de préserver votre vie privée que nous avons besoins de vos retours, aidez-nous.
						</p>

						<h3>Le mot de la fin</h3>

						<p>
							Nous rappelons que nous sommes une équipe de recherche et que nous ne disposons pas des mêmes moyens techniques que les leaders actuels du streaming musical. C’est pourquoi nous vous demandons d’être indulgent si vous rencontrez des problèmes lors de l’utilisation de notre site. De plus, si vous souhaitez nous signaler un problème ou nous faire une suggestion d’amélioration, nous vous invitons chaleureusement à nous en faire part afin que nous puissions réagir rapidement (<a class="home-link" href="mailto:etude-kiwi@inria.fr">etude-kiwi@inria.fr</a>).<br><br>
							Toute l’équipe vous souhaite d’agréables moments et le meilleur de la musique.
						</p>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<div class="col-lg-6">
		<h1>Signup</h1>
		<form id="formSignup" class="form-horizontal" name="form" role="form" ng-submit="newUser()">
			<div class="form-group">
				<input class="form-control" ng-model="user.username" required name="login" type="text" placeholder="Username">
			</div>
			<div class="form-group">
				<input class="form-control" ng-model="user.plainPassword" required name="password" type="password" placeholder="Password">
			</div>
			<div class="form-group">
				<input class="form-control" ng-model="confpwd" name="passwordconf" type="password" placeholder="Confirm password" compare-to="user.plainPassword" />
				<p class="alert alert-danger" ng-show="form.passwordconf.$error.compareTo">Confirmation password and password doesn't match</p>
			</div>
			<div class="form-group">
				<input class="form-control" ng-model="user.email" required name="email" type="text" placeholder="Email">
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<div class="select-container">
						<select data-toggle="select" ng-model="user.birthday" required name="day">
							<option ng-init="user.birthday=01" ng-repeat="n in [] | range:31" value="{{n+1}}">
								{{n+1}}
							</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="select-container">
						<select ng-model="user.birthmonth" required name="month">
							<option ng-init="user.birthmonth = 12" ng-repeat="n in [] | range:12" value="{{n+1}}">
								{{n+1}}
							</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="select-container">
						<select ng-model="user.birthyear" required name="year">
							<option ng-init="user.birthyear=2015" ng-repeat="n in [] | yearRange:120" value="{{n}}">
								{{n}}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="radio-inline">
				  <input ng-model="user.genre" required name="genre" type="radio" value="1"> Man
				</label>
				<label class="radio-inline">
				  <input ng-model="user.genre" name="genre" type="radio" value="0"> Woman
				</label>
			</div>
			<div class="form-group">
				<div class="select-container select-large">
					<select ng-model="user.country" required="" name="country">
						<option ng-init="user.country = countries[75].name.common" ng-repeat="country in countries" value="{{country.name.common}}">{{country.name.common}}</option>
					</select>
				</div>
			</div>
			<p class="alert alert-danger alert-signup" ng-show="errorSignUp">{{ errorSignUp }}</p>
			<button class="btn btn-block btn-lg btn-primary">
				<i class="icon-checkmark"></i>SIGN UP
			</button>
		</form>
	</div>
</div>
