 <div ng-class="{'hide' : (!$root.searchingA && !$root.searchingG) }" class="genre-fading-search"></div>
<div class="round back" click-link="/home"></div>
<h1>Radios</h1>
<!-- <div class="cover" ng-cover title="classic" cover-link="foo" cover-content="bar"></div> -->
<div class="label-radio">
	<h4 class="radio-title">Genres</h4>
	<div class="col-sm-5" ng-controller="GenreCoverCtrl as controller">
	        <form class="navbar-form search-radio" role="search" >
	          <div class="input-group input-search-bar">
	            <input type="text" class="form-control input-search" ng-keyup="search()" ng-model="genreSearched" placeholder="Search" name="q">
	            <div class="input-group-btn input-search-bar-button">
	              <button class="btn btn-default input-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	            </div>
	          </div>
	        </form>
	        <div class="result-searching" ng-class="{'hide' : !searchingG}">
	          <div class="result-searching-contain">
	            <div class="results-searching">
	              <h1>Genres matching : {{genreSearched}}</h1>
	              <div class="playlist-player" playlist-player controller="controller" content="resultsgenre" type="radio" ng-class="{'col-sm-6 small':controller.config.small}"></div>
	              <div class="clearfix"></div>
	              
	            </div>
	          </div>
	        </div>
	</div>
</div>
<div ng-controller="GenreCoverCtrl">
	<div ng-if="$root.wideRadio" deckgrid class="genresdeck deckgrid " source="genresLight" cardTemplate="app/components/cover/coverView.html?t=000"></div>
	<div ng-if="!$root.wideRadio" deckgrid class="deckgrid" source="genresLight" cardTemplate="app/components/cover/coverView.html?t=000"></div>
</div>
<a ng-show="!genresL" ng-click="moreResults('genre')">More radios from genres</a>
<div class="clearfix"></div>
<div class="label-radio">
<h4 class="radio-title">Artists</h4>
<div class="col-sm-5" ng-controller="ArtisteCoverCtrl as controller">
	        <form class="navbar-form search-radio" role="search" >
	          <div class="input-group input-search-bar">
	            <input type="text" class="form-control input-search" ng-keyup="search()" ng-model="artistSearched" placeholder="Search" name="q">
	            <div class="input-group-btn input-search-bar-button">
	              <button class="btn btn-default input-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	            </div>
	          </div>
	        </form>
	        <div class="result-searching" ng-class="{'hide' : !searchingA}">
	          <div class="result-searching-contain">
	            <div class="results-searching">
	              <h1>Artists matching : {{artistSearched}}</h1>
	              <div class="playlist-player" playlist-player controller="controller" content="resultsartist" type="radio" ng-class="{'col-sm-6 small':controller.config.small}"></div>
	              <div class="clearfix"></div>
	              
	            </div>
	          </div>
	        </div>
	</div>
</div>
<div ng-controller="ArtisteCoverCtrl">
    <div ng-if="$root.wideRadio" deckgrid class="artistes genresdeck deckgrid" source="artistsLight" cardTemplate="app/components/cover/coverView.html?t=0000"></div>
    <div ng-if="!$root.wideRadio" deckgrid class="artistes deckgrid"  source="artistsLight" cardTemplate="app/components/cover/coverView.html?t=0000"></div>
</div>
<a ng-show="!artistsL" ng-click="moreResults('artist')">More radios from artists</a>
<div class="clearfix"></div>
