<div ng-if="connected" id="menu-left" class="col-lg-2 menu-left">
    <div class="left-menu" ng-class="{reducedChanging : small && playing}">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/admin/current"><i class="icon-menu-left icon-trophy"></i>Current Test</a></li>
              <li><a href="#/admin/new"><i class="icon-menu-left icon-feed"></i>New Test</a></li>
              <li><a href="#/admin/"><i class="icon-menu-left icon-clock"></i>Statistics</a></li>
              
            </ul>

        </div>
      </div>
    </div>
  </div>
</div>