<div ng-if="connected && !root.isAdmin" id="menu-left" class="col-lg-2 menu-left">
    <div class="left-menu" ng-class="{reducedChanging : small && playing}">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/tops"><i class="icon-menu-left icon-trophy"></i>Top tracks</a></li>
              <li><a href="#/radios"><i class="icon-menu-left icon-feed"></i>Radio</a></li>
              <li><a href="#/history"><i class="icon-menu-left icon-clock"></i>My History</a></li>
              
            </ul>

            <div ng-controller="menuController">
            <ul class="ul-menuleft">
              <li>
              	<h3 class="titre-menuleft">
              		<a href="#/playlists">PLAYLIST</a> <a ng-click="changeNewPlaylist()" href="" class="add-playlist-icon" tooltip="Create new playlist" title="Create new playlist"><i class="icon-plus iconPlaylist"></i></a>
          		</h3>
      		</li>
              <div>
                <input ng-model="titleNewPlaylist" ng-if="newPlaylist" type="text" class="form-control input-new-playlist" placeholder="New Playlist" aria-describedby="basic-addon1" ng-new-playlist="changeNewPlaylist()">
              </div>
              <li class="playlist li-repeat-playlist" ng-repeat="playlist in userPlaylist" ng-controller="playlistController" ng-mouseenter="playlistliHover=true" ng-mouseleave="playlistliHover=false">
                <div class="one-playlist">
                  <div class="playlist-name playlist-content">
  	                <div class="ellipsis" ng-mouseenter="playlistHover=true" ng-class="{active: playlistHover|| playlistliHover}" ng-mouseleave="playlistHover=false">
  		               <!--  <a ng-click="$root.typeEcoute=0;launchPlaylist(playlist.id)" ng-if="!getEditPlaylist()" class="playlistFocus" href="">
  		                  {{playlist.nom}}
  		                </a> -->
                      <a href="#/playlist/{{playlist.id}}" ng-click="$root.activePlaylist=playlist.id;" ng-if="!getEditPlaylist()" class="playlistFocus" href="">
                        {{playlist.nom}}
                      </a>
  	                </div>


                  	<input ng-model="playlist.nom" ng-if="getEditPlaylist()" type="text" class="form-control input-edit-playlist-name" value="{{playlist.name}}" aria-describedby="basic-addon1" ng-edit-playlist-name="changeEditPlaylistFalse()">
                </div>
                  <div class="playlist-icons playlist-content playlist-hover">

                    <a href="" ng-click="$root.typeEcoute=4;launchPlaylist(playlist.id)"><i tooltip="Launch playlist"class="icon-play2 icon-menu-left icon-play-playlist"></i></a>

                    <a href="" ng-click="changeEditPlaylist(playlist)" ng-edit-playlist="editPlaylist" show-tag="isCollapsed">
                      <i tooltip="Edit playlist name" class="icon-pencil"></i>
                    </a>
                    <a href="" ng-controller="ModalDemoCtrl" ng-click="open('sm', playlist)"><i tooltip="Delete playlist" class="icon-trash"></i></a>
                    <a class="icon-tag-list" href="" ng-click="isCollapsed = !isCollapsed; getPlaylistTag(playlist)" ng-style="styleIconTag" ng-show-tag-playlist="isCollapsed" edit-playlist="editPlaylist">
                      <i tooltip="Edit playlist tags" class="icon-tag"></i>
                    </a>
                  </div>

                  <div class="playlist-tags" collapse="isCollapsed">
                    <div class="well well-lg playlist-tag">

                      <tags-input ng-if="playlist.tagLoaded" class="tags-playlist" ng-model="playlist.tags" on-tag-added="addTagPlaylist(playlist)" on-tag-removed="deleteTagPlaylist(playlist,$tag)" ng-pattern="tagsPattern"  display-property="libelle"></tags-input>


                    </div>
                  </div>

                </div>


              </li>
            </ul>

          </div>

          <!-- Track history -->

            <div ng-controller="HistoryCtrl as controllerHistory">
            <ul class="ul-menuleft">

              <li><h3 class="titre-menuleft">LAST TRACKS</h3></li>
              <li class="track li-repeat-track" ng-repeat="track in $root.historyTracks">

                <div class="one-track">
                  <a href="" ng-click="$root.typeEcoute = 0;launchPlay(track);" ng-mouseenter="hoverHistory=true" ng-mouseleave="hoverHistory=false">
                    <i ng-if="!hoverHistory" class="icon-music icon-menu-left"></i>
                    <i ng-if="hoverHistory" class="icon-play2 icon-menu-left"></i>
                    <span tooltip="{{track.titre}}">{{track.titre}}</span>

                  </a>
                </div>


              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>