<div class='overlay album-result'></div>
<div  class='thumbnail album-result'>
  <div class='artist-search' ng-init="id = card.idartiste ? card.idartiste[0].id : card.id; artiste = card.idartiste ? card.idartiste[0] : card; nom = card.idartiste ? card.titre : card.nom">
	<a href="#/artist/{{id}}" ng-click="$root.stockArtist(artiste)" class='play go-page'>
		<p>Go to page</p>
	</a>
	<div class='caption'>
		<h4>{{nom}}</h4>

	</div>

	<img src='{{card.urlCover ? card.urlCover : card.url_cover}}' alt='{{card.libelle}}'>
</div>


</div>
